<div class="container">
	<div class="row">
        <!-- Boxes de Acoes -->
    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-sitemap"></i></div>
					<div class="info">
						<h3 class="title">Categories</h3>
						<div class="more">
							<a routerLink="../categories" title="View categories details">
								View Details <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-file-video-o"></i></div>
					<div class="info">
						<h3 class="title">Videos</h3>
						<div class="more">
							<a routerLink="../videos" title="View video details">
								View Details<i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-image"></i></div>
					<div class="info">
						<h3 class="title">Images</h3>
						<div class="more">
							<a href="#" title="Title Link">
								View Details <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		<!-- /Boxes de Acoes -->
	</div>
</div>